/* Root Styles */
:root {
  --primary-color: #e67a00;
  --text-color: #2d2d2d;
  --background-color: #ffffff;
  --border-colour: #ffbd66;
}
/* CSS Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
